html body {
    background-color: black;
}

.wrapper {
    max-width: 1400px;
    width: 1400px;
}

h1 {
    font-size: 90px;
}

img {
    vertical-align: middle;
}

.imgHelper {
    display: inline-block;
    vertical-align: middle;
    align-content: center;
}

#windText, .smallText, #dateTime, #clockSeconds, #countdown {
    font-size: 40px;
}

#currentWeatherTemperature, #clock {
    font-size: 90px;
}

.smallImg {
    height: 50px;
    margin-left: 10px;
}

.largeImg {
    height: 90px;
}

#clockSeconds {
    margin-top: 20px;
    margin-left: 40px;
}

.checklistItem {
    background-image: url('../images/checkbox.png');
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 50px;
    margin-bottom: 1em;
    font-size: 24px;
}

.row {
    margin-bottom: 0.25em;
}
